
<div class="nav-bar-container">
    <ul class="navBar">
        <li style="border: none;" class="item-bar" ng-repeat="item in headerList">
            <a ui-sref="news.headline({id:item.tid})">{{item.tname}}</a>
        </li>
    </ul>
    <!--<div class="plus">
        <span drop-down-topic>+</span>
    </div>-->
    <!--<ion-scroll class="topic-container">
        <li  style="color: black" class="topic" ng-repeat="item in headerList" data-topicId="{{$index}}">

            <span ng-click="move('666666')">{{item.tname}}</span>
            <i  class="close-circled ion-close-circled"></i>
        </li>
    </ion-scroll>-->
</div>